<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test VK Chat">
    <test name="Create new Chat">
        <classes>
            <class name="com.vk.chat.CreateChatTest"/>
        </classes>
    </test>
    <test name="Added Attachments in Chat">
        <classes>
            <class name="com.vk.attachment.AddAudioAttachmentInChatTest"/>
            <class name="com.vk.attachment.AddFileAttachmentInChatTest"/>
            <class name="com.vk.attachment.AddPhotoAttachmentInChatTest"/>
        </classes>
    </test>
</suite>
